;; shadow-cljs configuration
{:source-paths
 ["src/main"]

 :dependencies
 [[org.clojure/core.async "0.4.490"]
  [doughamil/threeagent "0.0.1-SNAPSHOT"]
  [haslett "0.1.6"]
  [reagent "0.8.1"]]

 :nrepl {:port 7888}

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn tetris.app/init}}
   :devtools
   {:http-root "public"
    :http-port 8080}}}}
