;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[binaryage/oops "0.7.0"]
  [funcool/promesa "2.0.1"]
  [io.nervous/cljs-lambda "0.3.5"]]

 :builds
 {:app {:target :node-library
        :output-to "handler.js"
        :compiler-options {:infer-externs :auto
                           :optimizations :simple}
        :exports {:hostRoomHandler tetris100.core/host-room-handler
                  :joinRoomHandler tetris100.core/join-room-handler
                  :broadcastHandler tetris100.core/broadcast-handler
                  :messageHandler tetris100.core/message-handler
                  :messageHostHandler tetris100.core/message-host-handler}}}}
        
